<br /><br />

<table class="table table-striped">
    <tr>
        <td>Nos</td>
        <td>Country</td>
    </tr>

    <tr ng-repeat="country in Countries">
        <td>{{country.CountryId}}</td>
        <td>{{country.CountryName}}</td>
    </tr>
</table>